{% extends 'base.html' %}
{% block content %}
    <div class="review-button">
        <a href="{% url 'create-ticket' %}">
            <button class="">Créer un ticket</button>
        </a>
        <a href="{% url 'create-review' %}">
            <button class="">Créer une critique</button>
        </a>
    </div>

    <div class="flow">
        <ul>
            {% for item in items %}
                <div class="flow-details">

                    {% if item.item_type == 'Review' %}
                        <div class="review-details">
                            <div class="ticket-misc">
                                <div>{{item.user}} a publié une critique</div>
                                <div>{{item.time_created}}</div>
                            </div>
                            <p class="item-title">{{item.headline}} - {{item.rating}}</p>
                            <p>{{item.body|linebreaks}}</p>
                            <div class="review-ticket-details">
                                <p>Ticket - {{item.ticket.user}}</p>
                                <p>{{item.ticket.title}}</p>
                                <img src="{{ item.ticket.image.url }}" alt="{{ item..ticket.title }}" width="200">
                            </div>
                        </div>

                    {% elif item.item_type == 'Ticket' %}
                        <div class="ticket-details">
                            <div class="ticket-misc">
                                <div>{{item.user}} a demandé une critique</div>
                                <div>{{item.time_created}}</div>
                            </div>
                            <p class="item-title">{{item.title}}</p>
                            <p>{{item.description|linebreaks}}</p>
                            <img src="{{ item.image.url }}" alt="{{ item.title }}" width="200">
                        </div>
                        <div class="flow-manage-button">
                            <a href="">
                                <button class = >Créer une critique</button>
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
