{% extends 'base.html' %}
{% block content %}
<div class="review-form">
    <h2>Modifier une critique</h2>
    <form method="post" enctype="multipart/form-data">
        <div class="review-form-ticket">
            <h3>Livre / Article</h3>
            {% csrf_token %}
            <p >Titre</p>
            <div class="review-textfield" >{{ form.ticket_title }}</div>
            <p>Description</p>
            <div class="review-textfield">{{ form.ticket_description }}</div>
            <p>{{ form.ticket_image }}</p>
        </div>

        <div class="review-form-review">
            <h3>Critique</h3>
            <p>Titre</p>
            <div class="review-textfield">{{ form.headline }}</div>
            <p>Note </p>
            <div>{{ form.rating }}</div>
            <p>Commentaire</p>
            <div class="review-textfield">{{ form.body}}</div>
            <button type="submit">Valider</button>
        </div>

    </form>
</div>
{% endblock content %}