{% extends 'base.html' %}
{% block content %}
<div class="follow-menu">

    <div class="follow-add">
        <h2> Suivre un utilisateur</h2>
        <form method="post" >
            {% csrf_token %}
            <label for="{{ form.follower.id_for_label }}"></label>
            {{ form_sub.follow_user }}
            <button type="submit">Suivre</button>
        </form>
    </div>

    <div class="block-add">
        <h2> Bloquer un utilisateur</h2>
        <form method="post" >
            {% csrf_token %}
            <label for="{{ form.block.id_for_label }}"></label>
            {{ form_block.block_user }}
            <button type="submit">Bloquer</button>
        </form>
    </div>

        <h2>Abonnements</h2>
            <div>
                {% for subscription in subscriptions %}
                    <div class="followed">{{ subscription.follow_user }} <a href="{% url 'unfollow' follow_id=subscription.id %}">Se désabonner</a></div>
                {% endfor %}
            </div>

        <h2>Abonnés</h2>
            <div>
                {% for follower in followers %}
                    <div class="followers">{{ follower.user }}</div>
                {% endfor %}
            </div>

        <h2>Bloqués</h2>
            <div>
                {% for block in blocked %}
                    <div class="blocked">{{ block.block_user }}<a href="{% url 'unblock' block_id=block.id %}">Débloquer</a></div>
                {% endfor %}
            </div>
    </div>
{% endblock content %}