{% extends 'base.html' %}
{% block content %}
<div class="user_posts">
    <h2>Vos posts</h2>

        <ul class="review-details">
            {% for review in user_reviews %}
                <div>{{ review }}</div>
                <div class="review-manage-button">
                    <a href="">
                        <button class = >Modifier</button>
                    </a>
                    <a href="">
                        <button class = >Supprimer</button>
                    </a>
                </div>
            {% endfor %}
        </ul>

        <ul class="ticket-details">
            {% for ticket in user_tickets %}
                <div>{{ ticket }}</div>
                <div class="ticket-manage-button">
                    <a href="">
                        <button class = >Modifier</button>
                    </a>
                    <a href="">
                        <button class = >Supprimer</button>
                    </a>
                </div>
            {% endfor %}
        </ul>
</div>
{% endblock %}