body {
    border: 1px solid #000;
    padding: 0%;
    font-family: Helvetica;
}

h2 {
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
}

h1 {
    margin: 0;
    margin-left: 45%;
}

ul{
    padding : 5%
}

.header-links {
    text-align: right;
    margin-right: 1%;
}

.header-links a{
    margin: 5px;
    text-decoration: none;
    color: inherit;
}

.login{
    font-size: larger;
    text-align: center;
    text-emphasis-color: black;
}

.login button{
    padding: 10px;
    border-radius: 5px;
    font-size: larger;
}

.login input {
    padding: 10px;
    display: block; 
    margin-bottom: 10px;
}

.register{
    padding: 10px;
    border-radius: 5px;
    font-size: larger;
}

.signup-login-block{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #000;
    border-left: 0px;
    border-right: 0px;
    padding: 1%;
    border-top: 0px;
    height: 90%;
}

.signup-block{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #000;
    padding: 1%;
    border-top: 0px;
}
 
.flow{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    margin-left: 10%;
    margin-right: 10%;
}


.flow ul{
    width: 100%;
    padding-top: 0px;
}

.flow-title{
    text-align: center;
}
.flow-details{
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    box-sizing: border-box;
}

.flow-details p{
    margin: 5px;
}

.flow-manage-button{
    text-align: right;
}

.flow-manage-button button{
    padding: 10px;
    border-radius: 5px;
    font-size: large;
}

.review-button {
    justify-content: space-evenly;
    display: flex;
    padding: 1%;
}

.review-button button {
    padding: 10px;
    border-radius: 5px;
    font-size: larger;
}

.follow-menu{
    justify-content: space-evenly;
    text-align: center;
    padding: 10%;
    padding-top: 0px;
}

.follow-menu button{
    font-size: larger;
}

.follow-add, .block-add{
    display: block;
}

.follow-add form, .block-add form{
    display: flex;
}

.follow-add input, .block-add input{
    width: 100%;
    padding: 1%;
    text-align: center;
    margin-right: 1%;
    font-size: larger;
}

.follow-add button , .block-add button{
    border-radius: 5px;
    width: 20%;
}

.followed,
.followers,
.blocked {
    border: 1px solid #000;
    font-size: larger;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 1%;
    justify-content:space-between;
}

.followers {
    padding: 1%;
    justify-content:space-between;
}

.followed a,
.blocked a{
    border-left: 1px solid #000;
    text-align: right;
    padding: 1%;
    text-decoration: none;
    color: inherit;
}

.review-form{
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    font-size: larger;
}

.review-form p{
    margin: 10px;
    margin-left: 0px;    
}

.review-form button{
    font-size: large;
    margin: 8px;
    margin-left: 0px;
    border-radius: 5px;
    font-size: larger;
    padding: 1%;
}


.review-form-review{
    border: 1px solid #000;
    padding: 1%;
}


.review-form-ticket{
    border: 1px solid #000;
    padding: 1%;
    
}

.review-textfield{
    width: 100%;
    box-sizing: border-box;
}

.ticket-form{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: larger;
}


.ticket-form button{
    font-size: larger;
}

.item-title{
    font-size: larger;
    font-weight: bold;
}

.ticket-form label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

.ticket-form input,
.ticket-form textarea {
    width: 100%;
    box-sizing: border-box;
    font-size: large;
}

.ticket-form button {
    padding: 1%;
    border-radius: 4px;
    cursor: pointer;

}

.ticket-details,
.review-details {
    padding: 1%;
    font-size: larger;
}

.ticket-misc{
    display: flex;
    justify-content: space-between;
}

.review-ticket-details {
    border: 1px solid black;
    padding: 1%;
    margin: 1%;
}

.user {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1%;
}

.time {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1%;
}

.user_posts {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 1%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 0px;
}

.user_posts ul{
    padding-top: 0px;
}

.user_posts .ticket-details,
.user_posts .review-details {
    border: 1px solid black;
    margin: 0px;
    padding: 1%;
}


.user_posts h2 {
    text-align: center;
}


textarea{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large; 
}

.messages{
    text-align: center;
    font-size: 30px;
    padding: 0px;
}

.rating  div{
    display: flex;
}
