<html>
    
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>litrevu</title>
    </head>
    <body>
        
        <div class="header">
            <h1>LITReview</h1>
            <span class="header-links">
                {% if user.is_authenticated %}
                    <a href="{% url 'flow' %}">Flux</a>
                    <a href="{% url 'user_posts' %}">Posts</a>
                    <a href="{% url 'subscriptions' %}">Abonnements</a>
                    <a href="{% url 'logout' %}">Se déconnecter</a>
                {% endif %}
            </span>
        </div>
        <!-- Error messages management -->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </ul>
        {% endif %}
            {% block content %}{% endblock content %}
    </body>
</html>